.navbar {
  background-color: #1b1919;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.navbar-nav .nav-link {
  color: #fff !important;
  font-weight: 500;
  margin-right: 20px;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
}

.navbar-nav .nav-item.active .nav-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

@media (max-width: 576px) {
  .navbar-nav .nav-link {
    margin-right: 10px;
    font-size: 1rem;
  }
}

.navbar-brand img.logo {
  max-height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.move-left {
  position: absolute;
  left: 300px;
  font-weight: bold;
  color: gray;
}

.lead-btn {
  position: absolute;
  left: 450px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.icon-container {
  display: inline-block;
  margin: 10px;
}

.rounded-icon-bg {
  background-color: rgba(169, 169, 169, 0.3);
  border-radius: 50%;
  padding: 10px;
  display: inline-block;
}

.move-left {
  position: absolute;
  left: 300px;
  font-weight: bold;
  color: grey;
}

.custom-btn {
  margin: 1px;
  color: rgb(12, 12, 12);
  border-color: white;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}
.active-btn {
  margin: 5px;
  color: rgb(12, 12, 12);
  border-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

.progress-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.horizontal-progress {
  width: 80%;
  height: 60px;
}

.bar-graph {
  display: flex;
  align-items: flex-end;
  height: 200px;
}

.vertical-bar {
  width: 60px;
  background-color: #007bff;
  margin-right: 50px;
  position: relative;
}

.bar-label {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
}

.active-lead-status {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.status-column {
  flex: 1;
  text-align: center;
}

.lead-status-column {
  padding: 10px;
  height: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(9, 9, 9);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.lead-status-column:hover {
  transform: translateY(-5px); 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}

.lead-status-label {
  font-size: 18px;
}

.lead-status-count {
  font-size: 24px;
}

.lead-status-column{
  background-color: #fff;

}

.lead-status-column:hover {
  background-color: #007bff; 
  color: white; 
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

th {
  color: gray;
}